*.rar
/WSAgoraVai/build/
/WSAgoraVai/nbproject/private/
/WSTest/nbproject/private/
/test/build/
/test/nbproject/private/
/Test/nbproject/private/
/Test/build/
/WSTest/build/
/WSTest/dist/
/ControleConcorrenciaFirebase/nbproject/private/
/ControleConcorrenciaFirebase/build/
/Exemplo Firebase/build/
/Exemplo Firebase/nbproject/private/
/ControleConcorrenciaFirebase/dist/